{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="504831725379-9ar1r8njo1jchjuoo6bj6tmg6ke15ebb.apps.googleusercontent.com">
  <style>
    body {
      background: white;
      font-family: 'Open Sans', sans-serif;
      padding-bottom:100px;
    }
  </style>
{% endblock %}

{% block title %}
Anomaly Detection
{% endblock %}

{% block content %}
<div class="container" align="center">
  <h1>Success</h1>
</div>
<div class="container" align="center">
   <a class="button" href="/logout">Logout</a>
</div>
<div align="center" style="width:90%" class="container">
<div align="left">
Thank you for adding a configuration to be analyzed. We will send you an e-mail if any anomalies are found. Tracking anomalies for you for the following configurations:
</div>
<div style="width:100%; text-align:center;">
<table class="table table-hover">
{% for d in data %}
<tr>
<td class="align-middle">{{d.0}}</td>
<td class="align-middle">{{d.1}} </td>
<td class="align-middle">{{d.2}} </td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
